$color-Blue: #3948ab;
.css-1pahdxg-control{
  border-color: #ced4da !important;
  box-shadow: 0 0 0 !important;
  &:focus{
    border-color: #ced4da !important;
    box-shadow: 0 0 0 !important;
  }
  &:hover{
    border-color: #ced4da !important;
    box-shadow: 0 0 0 !important;
  }
}
